<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">IdeaBox</a></h1>
    </li>
  </ul>
</nav>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h2>Ideas</h2>
      <div class="ideas_index">
        <% @ideas.each do |idea| %>
            <%= render partial: 'idea', locals: { idea: idea } %>  
        <% end %>
      </div>
  </div>

  <%= render partial: 'form' %>
