<ul class= "ideas border">
  <li>Title: <%= idea.title %></li>
  <li>Body: <%= idea.body %></li>
  <li>Quality: <%= idea.quality %></li>
  <li><button class="delete_button" data-id="<%= idea.id %>">Delete</button></li>
</ul>
